
# sqlite.db
db.sqlite3

# media files
kibanda_images/
Kiepe/kibanda_images/
Kiepe/menu_images/

# static files
staticfiles/
static/collected_static/
Kiepe/static/collected_static/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.DS_Store
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/
.idea/
.vscode/
*.iml
coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
build/
dist/
.eggs/
*.egg-info
.installed.cfg
*.egg
*.manifest
*.spec
.pyre/
.mypy_cache/
.dmypy.json
dmypy.sock
.pytype/
.pyright/
profile_default/
ipython/
profile_default/
ipython_config.py
__pypackages__/
